@tailwind base;
@tailwind components;
@tailwind utilities;


.fixed-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
  }
  
  .content-with-fixed-header {
    padding-top: 100px;
  
  }

  .bg-light{
    background: rgba(255, 255, 255, 0.23);
  }
  
  /* src/components/AssetList.css */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}

.asset-list {
  /* position: relative; */
  padding-bottom: 50px; /* Make space for the pagination */
}

.pagination {
  /* position: absolute; */
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: end;
  padding: 20px;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 10px 15px;
  border: 1px solid #ddd;
  color: #337ab7;
  cursor: pointer;
}

.pagination li.active a {
  background-color: #337ab7;
  color: white;
  border: 1px solid #337ab7;
}

.pagination li a:hover {
  background-color: #ddd;
}

